* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-orange {
  padding: 11px 24px;
  background-color: #d97652;
  border-radius: 40px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.btn-up {
  z-index: 100;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-image: url("../img/top-btn.svg");
  background-position: center;
}

.btn-up:hover {
  background-image: url("../img/top-btn-hover.svg");
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
  top: 0;
  left: 0;
  padding: 24px 20px;
  background-color: #f2e9d8;
}

header button {
  background: none;
}

header .icon-menu {
  float: right;
}

header .icon-logo img {
  width: 92px;
}

header .icon-menu img {
  width: 32px;
}

header .sect-menu {
  position: fixed;
  top: 0;
  right: -290px;
  width: 290px;
  height: 100%;
  background-color: #263140;
  padding: 22px 20px;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}

header .sect-menu .btn-menuback {
  margin-bottom: 51px;
  background-image: url("../img/arrow-right.svg");
  width: 32px;
  height: 32px;
}

header .sect-menu ul {
  margin-bottom: 35px;
}

header .sect-menu a {
  display: inline-block;
  padding: 15px 30px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

header .sect-menu .btn-orange {
  margin-left: 20px;
}

main * {
  margin: 0 auto;
  text-align: center;
}

main h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

main p {
  font-size: 14px;
  line-height: 17.5px;
}

.sect-first {
  background-color: #f2e9d8;
}

.sect-first h2 {
  padding: 40px 0 30px;
  width: 264px;
}

.sect-first p {
  margin-bottom: 30px;
  width: 280px;
}

.sect-first button {
  margin-bottom: 30px;
}

.sect-first .cont-img {
  background-image: url("./img/box-cat.png");
  background-size: cover;
  width: 100px;
  height: 180px;
  overflow: hidden;
}

.sect-second {
  padding: 32px;
}

.sect-second .cont-img {
  margin-bottom: 40px;
  width: 326px;
  height: 190px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.sect-second .cont-img img {
  margin-top: -40px;
  width: 326px;
}

.sect-second h2 {
  margin-bottom: 20px;
}

.sect-third {
  padding: 32px;
}

.sect-third strong {
  color: #d97652;
}

.sect-third h2 {
  margin-bottom: 30px;
}

.sect-third > p {
  margin-bottom: 40px;
}

.sect-third ul {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.sect-third ul li img {
  width: 200px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
}

.sect-third .part-text {
  overflow: hidden;
}

.sect-third .part-text p {
  margin-bottom: 30px;
}

.sect-third .part-text button {
  float: right;
}

.form-subscribe {
  position: absolute;
  margin: 32px;
  width: calc(100% - 64px);
  padding: 36px 32px 30px;
  background-color: #263140;
  border-radius: 18px;
  overflow: hidden;
  z-index: 10;
}

.form-subscribe h2,
.form-subscribe p {
  color: #ffffff;
}

.form-subscribe h2 {
  margin-bottom: 20px;
}

.form-subscribe p {
  margin-bottom: 30px;
  color: #f2e9d8;
}

.form-subscribe .cont-input {
  margin-bottom: 20px;
  padding: 12px 17px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 60px;
  overflow: hidden;
}

.form-subscribe .cont-input::before {
  content: "";
  margin-right: 9px;
  width: 18px;
  height: 18px;
  background-image: url("../img/mail.svg");
  background-size: 18px 18px;
  float: left;
}

.form-subscribe .cont-input input {
  margin-top: 1.5px;
  padding: 0;
  float: left;
  border: none;
  outline: none;
  width: calc(100% - 32px);
  font-size: 12px;
  line-height: 15px;
  text-align: left;
}

.form-subscribe .cont-input input::-webkit-input-placeholder {
  color: #767676;
}

.form-subscribe .cont-input input:-ms-input-placeholder {
  color: #767676;
}

.form-subscribe .cont-input input::-ms-input-placeholder {
  color: #767676;
}

.form-subscribe .cont-input input::placeholder {
  color: #767676;
}

.form-subscribe .btn-orange {
  float: right;
}

.modal-thankyou {
  display: none;
  position: fixed;
  width: 300px;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/modal-bg-img.png") #f2e9d8 no-repeat top/300px 200px;
  padding: 40px 50px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.modal-thankyou img {
  margin-bottom: 24px;
  width: 60px;
}

.modal-thankyou h2 {
  margin-bottom: 10px;
  color: #d97652;
  font-size: 24px;
  line-height: 30px;
}

.modal-thankyou p {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 18px;
}

.modal-thankyou button {
  font-size: 14px;
  line-height: 18px;
}

footer {
  margin-top: 250px;
}

footer .cont-img {
  width: 100%;
  height: 240px;
  opacity: 0.6;
  background-image: url("../img/img_5.jpg");
  background-size: cover;
  background-position-y: 15%;
}

footer .cont-footer {
  padding: 30px 20px;
  overflow: hidden;
}

footer .cont-footer .list-left {
  float: left;
}

footer .cont-footer .list-left img {
  width: 112px;
}

footer .cont-footer .list-left ul {
  margin-top: 58px;
  overflow: hidden;
}

footer .cont-footer .list-left ul li {
  float: left;
}

footer .cont-footer .list-left ul li button {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #f29d52;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

footer .cont-footer .list-left ul li:nth-child(1) button {
  background-image: url("../img/blog.svg");
}

footer .cont-footer .list-left ul li:nth-child(2) button {
  background-image: url("../img/instagram.svg");
}

footer .cont-footer .list-left ul li:nth-child(3) button {
  background-image: url("../img/facebook.svg");
}

footer .cont-footer .list-left ul li:nth-child(4) button {
  background-image: url("../img/youtube.svg");
}

footer .cont-footer .list-left ul li + li {
  margin-left: 16px;
}

footer .cont-footer .list-menu {
  float: right;
}

footer .cont-footer .list-menu li + li {
  margin-top: 16px;
}

footer .cont-footer .list-menu li a {
  color: #767676;
  font-size: 14px;
  line-height: 17.5px;
  display: block;
  text-align: right;
}
/*# sourceMappingURL=style-mobile.css.map */