@media screen and (min-width: 1000px) {
  // module
  .btn-orange {
    padding: 15px 30px;
  }

  // style
  .btn-up {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 50px;
  }

  header {
    padding: 26px 200px;

    .icon-logo {
      padding: 0;
      img {
        width: 130px;
        height: 50px;
      }
    }
    .icon-menu {
      display: none;
    }
    .sect-menu {
      padding: 0;
      width: auto;
      position: static;
      float: right;
      background: none;

      .btn-back {
        display: none;
      }
      ul {
        margin: 15px 0 0;
        float: left;
        li {
          float: left;
          a {
            padding: 0;
            color: #000000;
          }
          & + li {
            margin-left: 30px;
          }
        }
      }
      .btn-orange {
        margin-left: 40px;
        float: left;
      }
    }
  }

  main {
    * {
      margin: 0;
    }
    h2 {
      font-size: 48px;
      line-height: 60px;
      text-align: left;
    }
    p {
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
  }

  .sect-first {
    padding: 0 200px;
    overflow: hidden;
    position: relative;

    .part-text {
      float: left;
      h2 {
        width: 600px;
      }
      p {
        width: 400px;
      }
      button {
        float: left;
      }
    }
    .cont-img {
      width: 150px;
      height: 280px;
      float: right;

      position: absolute;
      bottom: 0;
      right: 200px;
    }
  }

  .sect-second {
    overflow: hidden;
    position: relative;
    padding: 80px 200px;

    .cont-img {
      float: left;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .part-text {
      float: right;
      width: calc(100% - 400px);
      h2 {
        font-size: 36px;
        line-height: 45px;
      }
    }
  }

  .sect-third {
    padding: 32px 200px;
    >h2, >p {
      text-align: center;
    }
    .part-project {
      margin-bottom: 40px;
    }
    .part-text {
      overflow: hidden;
      position: relative;
      p {
        float: left;
        width: calc(100% - 160px);
        margin-bottom: 0;
      }
      button {
        float: right;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  .sect-subscribe {
    margin: 32px 100px;
    padding: 50px;
    width: calc(100% - 200px);

    .part-text {
      float: left;
      width: calc(100% - 500px);
      h2 {
        font-size: 36px;
        line-height: 45px;
      }
      p {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 17.5px;
      }
    }
    
    .part-input {
      float: right;
      position: absolute;
      top: 50%;
      right: 32px;
      transform: translateY(-50%);
      
      .cont-input {
        padding: 18px 28px;
        margin: 0;
        width: 430px;

        &::before {
          margin-right: 16px;
          width: 24px;
          height: 24px;
          background-size: 24px 24px;
        }
        input {
          margin-top: 2px;
          width: calc(100% - 170px);
          font-size: 16px;
          line-height: 20px;
        }
      }
      .btn-orange {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }

  footer {
    margin-top: 200px;

    .cont-img {
      height: 300px;
      background-position-y: 40%;
    }

    .cont-footer {
      .list-left {
        overflow: hidden;
        width: 100%;
        img {
          display: inline-block;
        }
        ul {
          margin-top: 0;
          float: right;
        }
      }

      .list-menu {
        display: none;
      }
    }
  }
}
