@media screen and (min-width: 1000px) {
  .btn-orange {
    padding: 15px 30px;
  }
  .btn-up {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
  header {
    padding: 26px 200px;
  }
  header .icon-logo {
    padding: 0;
  }
  header .icon-logo img {
    width: 130px;
    height: 50px;
  }
  header .icon-menu {
    display: none;
  }
  header .sect-menu {
    padding: 0;
    width: auto;
    position: static;
    float: right;
    background: none;
  }
  header .sect-menu .btn-back {
    display: none;
  }
  header .sect-menu ul {
    margin: 15px 0 0;
    float: left;
  }
  header .sect-menu ul li {
    float: left;
  }
  header .sect-menu ul li a {
    padding: 0;
    color: #000000;
  }
  header .sect-menu ul li + li {
    margin-left: 30px;
  }
  header .sect-menu .btn-orange {
    margin-left: 40px;
    float: left;
  }
  main * {
    margin: 0;
  }
  main h2 {
    font-size: 48px;
    line-height: 60px;
    text-align: left;
  }
  main p {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
  .sect-first {
    padding: 0 200px;
    overflow: hidden;
    position: relative;
  }
  .sect-first .part-text {
    float: left;
  }
  .sect-first .part-text h2 {
    width: 600px;
  }
  .sect-first .part-text p {
    width: 400px;
  }
  .sect-first .part-text button {
    float: left;
  }
  .sect-first .cont-img {
    width: 150px;
    height: 280px;
    float: right;
    position: absolute;
    bottom: 0;
    right: 200px;
  }
  .sect-second {
    overflow: hidden;
    position: relative;
    padding: 80px 200px;
  }
  .sect-second .cont-img {
    float: left;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sect-second .part-text {
    float: right;
    width: calc(100% - 400px);
  }
  .sect-second .part-text h2 {
    font-size: 36px;
    line-height: 45px;
  }
  .sect-third {
    padding: 32px 200px;
  }
  .sect-third > h2, .sect-third > p {
    text-align: center;
  }
  .sect-third .part-project {
    margin-bottom: 40px;
  }
  .sect-third .part-text {
    overflow: hidden;
  }
  .sect-third .part-text p {
    float: left;
    width: calc(100% - 160px);
  }
  .sect-third .part-text button {
    float: right;
  }
  .sect-subscribe {
    margin: 32px 100px;
    padding: 50px;
    width: calc(100% - 200px);
  }
  .sect-subscribe .part-text {
    float: left;
    width: calc(100% - 500px);
  }
  .sect-subscribe .part-text h2 {
    font-size: 36px;
    line-height: 45px;
  }
  .sect-subscribe .part-text p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17.5px;
  }
  .sect-subscribe .part-input {
    float: right;
    position: absolute;
    top: 50%;
    right: 32px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sect-subscribe .part-input .cont-input {
    padding: 18px 28px;
    margin: 0;
    width: 430px;
  }
  .sect-subscribe .part-input .cont-input::before {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
  .sect-subscribe .part-input .cont-input input {
    margin-top: 2px;
    width: calc(100% - 170px);
    font-size: 16px;
    line-height: 20px;
  }
  .sect-subscribe .part-input .btn-orange {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  footer {
    margin-top: 200px;
  }
  footer .cont-img {
    height: 300px;
    background-position-y: 40%;
  }
  footer .cont-footer .list-left {
    overflow: hidden;
    width: 100%;
  }
  footer .cont-footer .list-left img {
    display: inline-block;
  }
  footer .cont-footer .list-left ul {
    margin-top: 0;
    float: right;
  }
  footer .cont-footer .list-menu {
    display: none;
  }
}
/*# sourceMappingURL=style-desktop.css.map */